<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Some Website</title>
</head>
<body>
    {{> header }}
    <h2><u>Project Portfolio Page</u></h2>
    <p>{{screamIt welcomeMessage}}</p>    
    <ul>
        <li>{{project1Name}}</li>
        <li>{{project2Name}}</li>
        <li>{{project3Name}}</li>
    </ul>
    {{> footer}}
</body>
</html>